#device-name-list { font-size: 1.4em; }
#device-name-list .ui-selecting { background: #FECA40; }
#device-name-list .ui-selected { background: #A20000; color: white; }
#device-name-list { list-style-type: none; margin: 0 0 1em; padding: 0; width: 100%; }
#device-name-list li { margin: 0px; padding: 0.4em 12% 0.4em 10px; font-size: 1.4em; width: 95%;}
#device-name-list a { display: block; }
li#scanning-device-name-list { font-size: 1em; }
a { color: #222222; }

.pop {
    box-shadow: 5px 5px 5px #AAAAAA;
    -moz-box-shadow: 5px 5px 5px #AAAAAA;
    -webkit-box-shadow: 5px 5px 5px #AAAAAA;
}

#tabs { 
    display: none ; 
    min-height: 450px; 
    border: 2px solid #A20000; 
}

#logs a,
#devices a {
    display:block;
}
#logs a:hover,
#devices a:hover,
#device-name-list a:hover {
    background-color: #222222;
    color: white;
}
#device-name-list a.current-name:hover {
    background-color: transparent;
}
#device-summary-list ul {
    list-style: none;
}

#device-summary-list li {
    background-color: white;
    margin-bottom: 20px;
    border: 2px solid #A20000; 
}
#device-summary-list img {
    border:2px solid;
    padding:2px;
    position:absolute;
    right:2%;
    top:8%;
}
#device-summary-list a:hover {
    background-color: #a20000;
}
#device-summary-list a {
    display: block;
    text-decoration: none;
    padding: 10px;
    position: relative;
}
#device-summary-list a:hover {
    color:white;
    text-shadow: black 1px 1px 3px;
}



#device-summary-list, #more-info-pane {
  padding: 0.5em;
  min-height: 180px;
}
#device-summary-list p { font-size: 110%; margin-bottom: 0; padding-bottom: 5px;}
#more-info-pane p { font-size: 110%; margin-bottom: 5px; }
#device-summary-list h3, #more-info-pane h3 { margin-bottom: 5px; }
#device-summary-list .serial, #more-info-pane .serial, 
#device-summary-list .product-name, #more-info-pane .product-name,
#device-summary-list .firmware-version, #more-info-pane .firmware-version, 
#device-summary-list .localId, #more-info-pane .localId { 
    padding-left: 5px; 
}
#device-summary-list .serial, #more-info-pane .serial { font-style: italic; }

.ui-jqgrid { font-size: 120%; }
.ui-jqgrid .ui-jqgrid-htable th div { height:27px; }
.ui-jqgrid .ui-jqgrid-titlebar { display: none; }
.ui-dialog { -moz-box-shadow: 5px 5px 15px #333333; -webkit-box-shadow: 5px 5px 15px #333333; box-shadow: 5px 5px 15px #333333;}

body {
  min-width: 960px;
  background-color: #E6F3FF;
  /*background-color: #a6b3bF; */
}
#header {
  background-color: #222222;
  color: white;
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
}
#header a {
  color: white;
}
#content {
  margin-top: 12px;
}
#footer * {
  background-color: #333;
  color: white;
}
#list-pane {
  /*background-color:#E6F3FF;*/
  min-height: 400px;
  padding-left: 0.5em;
}
#list-pane h2 {
  margin-bottom: 0;
}

.submit-wrapper {
    height:22px;
    margin-top:15px;
}

.submit-wrapper input {
    float: right;
}

#scan-bar p,
#scan-bar span,
#log-bar p,
#log-bar span {
    margin: 2px 0;
}
#scan-bar span.indicator,
#log-bar span.indicator {
    width: 16px;
    float: left;
    margin-left:0.5em;
}
#log-bar ul {
    margin: 0;
    list-style: none;
}
#log-bar ul li {
    margin: 0;
}
#log-bar .stop-logging {
    margin-left: 1em;
}
#devices,
#logs {
    width: 95%;
    padding: 4px 12% 4px 5px;
}
body.logs #logs,
#log-wrapper {
    background-color:white;
}
#log-wrapper {
    padding: 10px;
    min-height: 450px; 
}
#log-file-list {
    list-style: none;
} 
#log-file-list li {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 3px;
    margin: 0 15px;
}
#log-file-list li:nth-child(2n) {
    background-color: #dddddd;
}
#log-file-list li .log-file-name,
#log-file-list li .log-size,
#log-file-list li .upload-log,
#log-file-list li .too-big-log,
#log-file-list li .stop-log,
#log-file-list li .delete-log {
    position: absolute;
    text-decoration: none;
}
#log-file-list li .log-file-name {
    left: 20px;
}
#log-file-list li .log-size {
    left: 315px;
    text-align: right;
    width: 6em;
}
#log-file-list li .upload-log,
#log-file-list li .too-big-log {
    left: 415px;
}
#log-file-list li .stop-log,
#log-file-list li .delete-log {
    left: 585px;
    color: #777777;
}
#log-file-list li .too-big-log {
    color: #777777;
}
#log-file-list li .log-file-name:hover, 
#log-file-list li .upload-log:hover {
    text-decoration: underline;
    font-weight: bold;
}
#log-file-list li .stop-log:hover,
#log-file-list li .delete-log:hover {
    color: white;
    background-color:#a20000;
}
/* Devices */
/*.test-panel-sparkline { width: 100px; }*/

.ui-jqgrid tr.ui-row-ltr td:nth-child(1),
.ui-jqgrid tr.ui-row-ltr td:nth-child(3) {
    text-align:center;
}

.ui-jqgrid tr.ui-row-ltr td .test-panel-sparkline { 
position:absolute;
text-align:right;
width:20%;
}
.ui-jqgrid tr.ui-row-ltr td .test-panel-state {
    margin-left:43%;
}

.ui-jqgrid tr.ui-row-ltr td .test-panel-sparkline canvas { 
margin-top:3px;
}
.ui-jqgrid tr.ui-row-ltr td .test-panel-sparkline.analogIn canvas { 
margin-top:4px;
}

/* Prevent horizontal scrolling */
.ui-jqgrid .ui-jqgrid-bdiv {
    overflow: hidden;
}

#test-panel-table a.test-panel-connection-link {
    text-decoration: none;
    display:block;
    width: 100%;
}


#test-panel-table .ui-state-hover a,
#test-panel-table .ui-state-hover a:hover {
    text-decoration: underline;
    font-weight: bold;
/*    color:#A20000;*/
}

a.digital-out-toggle-link {
    position: absolute;
    right: 110px;
    display: none;
}

a.digital-out-toggle-link.toggling {
    color: #A20000;
    font-style: italic;
}

.ui-state-hover a.digital-out-toggle-link {
    display: inline;
}

/* CSS for the "Couldn't Connect" page */
#cant-connect-content {
    padding: 15px;
    margin: auto;
    width: 350px;
    text-align: center;
    margin-top: 100px
}

.retry-form {
    text-align: left;
    width: 300px;
    margin:auto;
    position: relative;
    background-image: none;
    line-height: 1.5em;
}

.retry-form div {
    margin: 15px;
}

.retry-form-input {
    position: absolute;
    left: 90px;
}

/* CSS for the CloudDot Users page */

.valueBox {
    line-height: 1.2em;
    border: 2px solid #000000
}

.users-page-content {
    background-color: white !important;
    border: 5px solid #ccc;
    padding: 0 30px 20px;
}

.fieldWithNoErrors {
  padding: 2px;
  background-color: rgba(0, 150, 0, 0.3);
}

.fieldWithErrors {
  padding: 2px;
  background-color: rgba(150, 0, 0, 0.3);
}

.small-list {
    font-size: 14pt;
}

/*
 Weak Style
*/
.weak {
    font-size: 10pt;
    color: #888888;
}

.weak a {
    color: #444444;
}

.weak a:hover{
    color: #FFFFFF;
}
