<h3>Bridge Firmware</h3>
<ul class="firmware-list">
    <li><a class="bridge firmware" href="#">Install Firmware name</a></li>
    <li><a class="bridge firmware" href="#">Install Firmware name 2</a></li>
</ul>

<h3>Mote Firmware</h3>
<ul class="firmware-list">
    <li><a class="mote firmware" href="#">Install Firmware name 3</a></li>
    <li><a class="mote firmware" href="#">Install Firmware name 4</a></li>
</ul>