<div id="overview-$bridgeName">
  <h3 class="name">Bridge Name</h3>
  <table class="data-table"></table>
</div>
#for all the motes m
<div id="overview-$moteName">
  <h3 class="name">Mote Name</h3>
  <table class="data-table"></table>
</div>
#end for