<div id="overview-$m.unitId" class="moteoverview" unitid="$m.unitId">
  <h3 class=""><a class="configure-mote name" href="/skymote/config/$device.serialNumber?unitId=$m.unitId">$m.nickname</a></h3>
  <table class="data-table"></table>
</div>
