<div id="overview-$device.serialNumber">
  <h3 class="name">$device.nameCache</h3>
  <table class="data-table"></table>
</div>
#for $m in $device.motes
<div id="overview-$m.unitId" class="moteoverview" unitid="$m.unitId">
  <div class="rapid-mode more-info"></div>
  <h3 class="">
    <a class="configure-mote name" href="/skymote/config/$device.serialNumber?unitId=$m.unitId">$m.nickname</a>
  </h3>
  <table class="data-table"></table>
</div>
#end for