  <p><span class="scanning-indicator indicator"></span>Scanning SkyMote network rooted at <strong class="current-name">$device.nameCache</strong> ($device.productName, serial $device.serialNumber)</p>
