<h3>Support Tab</h3>

<div id="read-modbus-register-wrapper">
  
  <form id="read-modbus-register-form">
    <div><label>Address: <input type="text" id="addr" size="20"></input></label></div>
    <div><label>Number of Registers: <input type="text" id="numReg", size="20"></input></label></div>
    <div><label>Format: <input type="text" id="format" size="65"></input></label></div>
    <div><label>Unit ID: <input type="text" id="unitId" size="20" value="0"></input></label></div>
    <input type="submit"></input>
  </form>
  
  <div id="read-results-wrapper">
    Result:
    <ul id="read-results-list">
    </ul>
  </div>

</div>