<h3>Need help with your SkyMote Devices?</h3>

<div id="support-info-wrapper">
  <p>Please include the following information when contacting us:</p>
  <pre><code>
#for $bridge in $bridges.values()
[SkyMote Bridge Information]
Name: $bridge.nameCache
Serial Number: $bridge.serialString
Main (Jennic) Firmware Version: $bridge.mainFWVersion
USB Firmware Version: $bridge.usbFWVersion
Ethernet Firmware Version: $bridge.ethernetFWVersion

  #for $mote in $bridge.motes
[$mote.productName Unit $mote.unitId Information]
Name: $mote.nickname
Serial Number: $mote.serialNumber
Check-In Interval: $mote.checkinInterval
Main Firmware Version: $mote.mainFWVersion

  #end for
#end for

[CloudDotGrounded Information]
CloudDotGrounded Version: $groundedVersion
LabJackPython Version: $ljpVersion

[System Information]
OS: $os
#if $isWindows
UD Driver Version: $driverVersion
#else
Exodriver Version: $driverVersion
#end if
User Agent: $userAgent
  </code></pre>
</div>

<div id="read-modbus-register-wrapper" style="padding-top: 20px;">
  <h3>Modbus Debugging Form</h3>
  <form id="read-modbus-register-form">
    <div class="modbus-single-setting">
      <label>Address: <input type="text" id="addr" size="20"></input></label>
      <div class="more-info">The address to start reading from.</div>
    </div>
    
    <div class="modbus-single-setting">
      <label>Number of Registers: <input type="text" id="numReg", size="20"></input></label>
      <div class="more-info">The number of registers to read.</div>
    </div>
    <div class="modbus-single-setting">
      <label>Format: <input type="text" id="format" size="20"></input></label>
      <div class="more-info">The format the registers will come back in. Float = >f, Integer = >I, Short = >H</div>
    </div>
    <div class="modbus-single-setting">
      <label>Unit ID: <input type="text" id="unitId" size="20" value="0"></input></label>
      <div class="more-info">The unit ID to send the command to. The bridge is always unit ID 0.</div>
    </div>
    
    <input type="submit" value="Send Command"></input>
  </form>
  
  <div id="read-results-wrapper" style="padding-top: 10px;">
    Result:
    <ul id="read-results-list">
    </ul>
  </div>

</div>