<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>LabJack</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/text.css" />
    <link rel="stylesheet" href="css/960_24_col.css" />

    <link type="text/css" href="css/darkblitz/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
    <link type="text/css" href="css/cherryred.css" rel="Stylesheet" />

    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>    
    <script type="text/javascript" src="js/jquery.jqote.min.js"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery.sparkline.min.js" type="text/javascript"></script>

    <script src="js/cherryred-devices.js" type="text/javascript"></script>

</head>

<body>


<script type="text/html" id="device-template">
<![CDATA[
  <li id="<%= this.serial %>"><%= this.name %></li>
]]>
</script>

<script type="text/html" id="more-info-template">
<![CDATA[
  <h3><%= this.name %></h3>
  <p class="serial"><%= this.productName %></p>
  <p class="product-name"><%= this.serial %></p>
]]>
</script>


<script type="text/html" id="u3-hv-analog-connection-dialog">
<![CDATA[
  <div id="u3-connection-dialog-tabs">
    <ul>
      <li><a href="#u3-connection-dialog-tabs-analog">Analog</a></li>
    </ul>
    <div id="u3-connection-dialog-tabs-analog">
      <form class="u3-analog-form">
        <fieldset>
          <div>
              <label>
                  <input type="radio" name="analog" value="single-regular" />Single-ended, range &plusmn;10V
              </label>
          </div>
          <div>
              <label>
                <input type="radio" name="analog" value="single-special-hv" />Single-ended, range -10V to 20V
              </label>
          </div>
          <div>
            <label>
            <input type="radio" name="analog" value="differential" />Differential with negative channel 
            </label>
                <select name="neg-channel">
                    <option value="AIN0">AIN0</option>
                    <option value="AIN1">AIN1</option>
                    <option value="AIN2">AIN2</option>
                    <option value="AIN3">AIN3</option>
                    <option value="AIN4">AIN4</option>
                    <option value="AIN5">AIN5</option>
                    <option value="AIN6">AIN6</option>
                    <option value="AIN7">AIN7</option>
                    <option value="AIN8">AIN8</option>
                    <option value="AIN9">AIN9</option>
                    <option value="AIN10">AIN10</option>
                    <option value="AIN11">AIN11</option>
                    <option value="AIN12">AIN12</option>
                    <option value="AIN13">AIN13</option>
                    <option value="AIN14">AIN14</option>
                    <option value="AIN15">AIN15</option>
                </select>
          </div>
        </fieldset>
      </form>
    </div>
]]>
</script>


<script type="text/html" id="u3-connection-dialog">
<![CDATA[
  <div id="u3-connection-dialog-tabs">
    <ul>
      <li><a href="#u3-connection-dialog-tabs-analog">Analog</a></li>
      <li><a href="#u3-connection-dialog-tabs-digital">Digital</a></li>
    </ul>
    <div id="u3-connection-dialog-tabs-analog">
      Single/Differential
    </div>
    <div id="u3-connection-dialog-tabs-digital">
      <form>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-input"/>Digital Input
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-low"/>Digital Output Low
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-high"/>Digital Output High
            </label>
        </div>
      </form>
    </div>
]]>
</script>



<div id="dialog" style="display:none"></div>

<form action="/devices/importConfigFromFile" method="post" enctype="multipart/form-data">
  filename: <input type="file" name="myFile" /><br />
  <input type="hidden" name="serial" value="320032939" />
  <input type="submit" value="Upload" />
</form>

<div id="header" class="container_24">

  <div id="" class="grid_24">
      LabJack
  </div>
  
  </div>
  
  <div id="content" class="container_24">
  
    <div id="" class="grid_5">
    
      <div id="list-pane" class="">
        <h2>Devices</h2>
        <ul id="device-name-list">
        </ul>
      </div>
      <div id="more-info-pane" class="" >
        
      </div>
    
  
    </div>
  
    <div id="" class="grid_19 ">
      <div id="tabs">
        <ul>
          <li><a href="#test-panel-tab">Test Panel</a></li>
          <li><a href="#firmware-tab">Firmware</a></li>
          <li><a href="#support-tab">Support</a></li>
        </ul>
        <div id="test-panel-tab">

<table id="test-panel-table"></table>


        </div>
        <div id="firmware-tab">
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
        <div id="support-tab">
          <p>
            <a href="http://labjack.com/support/u3">U3 Support homepage</a> 
          </p>
        </div>
      </div>

    </div>
  
  </div>
  
                  
  
  <div id="footer" class="container_24">
  
  <div id="" class="grid_24 ">
    LabJack
  </div>

</div> <!-- container -->

            
</body>
</html>