<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>CherryRed: Logging Setup</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960_24_col.css" />

    <link type="text/css" href="/css/darkblitz/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />
    <link type="text/css" href="/css/cherryred.css" rel="Stylesheet" />

    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jqote.min.js"></script>

</head>

<script type="text/javascript">
  $(document).ready(function() {
    getDeviceList();
  });


  function handleStartLogging(data, textStatus, XMLHttpRequest) {
    console.log("handleStartLogging: success");
  }

  function startLogging(serial) {
    $.get("/log/start", {serial : serial}, handleStartLogging, "json");
    
    return false;
  }

  function handleStopLogging(data, textStatus, XMLHttpRequest) {
    console.log("handleStopLogging: success");
  }

  function stopLogging(serial) {
    $.get("/log/stop", {serial : serial}, handleStopLogging, "json");
    
    return false;
  }


  function handleDeviceList(data) {
      for (var d in data) {
      var obj = { name: data[d], serial : d };
          $("#device-template").jqote(obj).appendTo($("#device-list"));
      }
  }
    
    
  function getDeviceList() {
      $.get("/devices/", {}, handleDeviceList, "json");
  }
</script>

<script type="text/html" id="device-template">
<![CDATA[
  <li id="<%= this.serial %>"><%= this.name %> <a href="#" onclick="startLogging(<%= this.serial %>)">Start Logging</a> <a href="#" onclick="stopLogging(<%= this.serial %>)">Stop Logging</a></li>
]]>
</script>

<body>
  <div id="content" class="users-page-content">
    <h2>Configure/Start/Stop Logging</h2>
    <p>Here you will be able to configure/start/stop logging for your LabJack devices. It's going to be excellent.</p>
  
    <ul id="device-list" class="small-list">
    </ul>
  </div>
</body>

</html>