  <div id="content" class="users-page-content">
    <h2>Link to your CloudDot Account</h2>
    <p>Enter your CloudDot username and API key below.  You can find your API key on your <a href="http://cloud.labjack.com/admin" target="_blank">CloudDot Account page</a>. (<a id='showlink' onclick='showPicture(); return false;'>Show Picture</a>)</p>
    <div id="example" style="display:none">
        <img src="/img/apikey-demo.png" />
    </div>
    <p class="weak">
        If you don't have a CloudDot account, <a href="http://cloud.labjack.com/signup" target="_blank">sign up here</a>.
    </p>
    <form id="user-form" action="/clouddot/update" method="get">
      <div>Username: <input type="text" id="username-field" name="username" onblur="checkUsernameValidity();"/></div>
      <div>API Key: <input type="text" id="apikey-field" name="apikey" onblur="checkApikeyValidity();"/></div>
      
      <input type="submit" value="Save CloudDot Account Information">
    </form>
  </div>