  <div>Your Saved Configurations</div>
  <ul>
  #for $configfile in $configfiles
    <li><a href="$configfile.url">$configfile.name</a> --- <a href="$configfile.loadurl">Load configuration onto Device</a> --- <a href="$configfile.removeurl" class="delete-log">Delete forever</a></li>
  #end for
  </ul>
  <div>Basic Configurations</div>
  <ul>
  #for $configfile in $basicconfigfiles
    <li><a href="$configfile.url">$configfile.name</a> --- <a href="$configfile.loadurl">Load configuration onto Device</a></li>
  #end for
  </ul>