      <div id="device-summary-list">Scanning
      </div>
    

      <div id="tabs" class="pop">
        <ul>
          <li><a href="#test-panel-tab">Test Panel</a></li>
          <li><a href="#more-info-pane">Info</a></li>
          <li><a href="#clouddot-tab">CloudDot</a></li>
          <li><a href="#support-tab">Support</a></li>
        </ul>
        <div id="test-panel-tab">
            <table id="test-panel-table"></table>
            <div class="timer-counter-config-wrapper hide-at-start"><p><a id="bottom-timer-counter-config-link" class="timer-counter-config-link" href="#" >Configure timers and counters</a></p></div>
            <div class="hide-at-start"><a class="button" id="save-config-link" href="#">Save current configuration</a>
              <div style="font-size: 8pt; color: rgb(153, 153, 153); padding-top: 5px;">The "Save Current Configuration" button will save the state of the device as the power-up default. Additionally, it creates a text file that represents the state of your device and saves it to disk. At a later date, if you want your device to look exactly as it did, go to the "Info" tab and load the configuration.</div>
            </div>
        </div>
        <div id="more-info-pane" class="" ></div>
        <div id="clouddot-tab"></div>
        <div id="support-tab"></div>
      </div>