      <div id="device-summary-list">Scanning
      </div>
    

      <div id="tabs" class="pop">
        <ul>
          <li><a href="#test-panel-tab">Test Panel</a></li>
          <li><a href="#more-info-pane">Info</a></li>
          <li><a href="#clouddot-tab">CloudDot</a></li>
          <li><a href="#support-tab">Support</a></li>
        </ul>
        <div id="test-panel-tab">
            <table id="test-panel-table"></table>
            <div class="timer-counter-config-wrapper"><p><a id="bottom-timer-counter-config-link" class="timer-counter-config-link" href="#" style="display:none;">Configure timers and counters</a></p></div>
            <div><a class="button" id="save-config-link" href="#" style="display:none;">Save current configuration</a></div>
        </div>
        <div id="more-info-pane" class="" ></div>
        <div id="clouddot-tab"></div>
        <div id="support-tab"></div>
      </div>