  <h3>$device.name</h3>
  <p class="serial">$device.productName></p>
  <p class="product-name">$device.serial</p>
  #if $device.devType == 9
  <p class="firmware-version">Control Firmware: $device.firmware[1]</p>
  <p class="firmware-version">Communication Firmware: $device.firmware[0]</p>
  #else
  <p class="firmware-version">Firmware Version: $device.firmware</p>
  #end if
  <p class="localId">Local ID: $device.localId</p>