<div id="tc-connection-dialog-tabs">
  <ul>
    <li><a href="#tc-connection-dialog-tabs-timers">Timers</a></li>
    <li><a href="#tc-connection-dialog-tabs-counters">Counters</a></li>
    <li><a href="#tc-connection-dialog-tabs-location">Pin Location</a></li>
  </ul>
  <div id="tc-connection-dialog-tabs-timers">
    <form>
      <fieldset>

#for i in range($currentConfig.totalTimers)
  <div class="timer-wrapper">
    <label><input type="checkbox" class="timer-enable-box" name="timer${i}Enabled" value="1" timer-number="$i" #if $currentConfig["timer%sEnabled" % $i] then 'checked="yes"' else ''# ></input>Enable Timer$i</label>

    <div class="timer-config-inputs timer-config-inputs-hideable">
      <label>Mode: 
        <select class="timer-mode-select" name="timer${i}Mode" #if not $currentConfig["timer%sEnabled" % $i] then 'disabled="disabled"' else ''# >
            <option value="0" helpurl="$timerModeUrls[0]" #if $currentConfig["timer%sMode" % $i] == 0 then 'selected="yes"' else ''# >16-bit PWM output</option>
            <option value="1" helpurl="$timerModeUrls[1]" #if $currentConfig["timer%sMode" % $i] == 1 then 'selected="yes"' else ''#>8-bit PWM output</option>
            <option value="2" helpurl="$timerModeUrls[2]" #if $currentConfig["timer%sMode" % $i] == 2 then 'selected="yes"' else ''#>Period input (32-bit, rising edges)</option>
            <option value="3" helpurl="$timerModeUrls[3]" #if $currentConfig["timer%sMode" % $i] == 3 then 'selected="yes"' else ''#>Period input (32-bit, falling edges)</option>
            <option value="4" helpurl="$timerModeUrls[4]" #if $currentConfig["timer%sMode" % $i] == 4 then 'selected="yes"' else ''#>Duty cycle input</option>
            <option value="5" helpurl="$timerModeUrls[5]" #if $currentConfig["timer%sMode" % $i] == 5 then 'selected="yes"' else ''#>Firmware counter input</option>
            <option value="6" helpurl="$timerModeUrls[6]" #if $currentConfig["timer%sMode" % $i] == 6 then 'selected="yes"' else ''#>Firmware counter input (with debounce)</option>
            <option value="7" helpurl="$timerModeUrls[7]" #if $currentConfig["timer%sMode" % $i] == 7 then 'selected="yes"' else ''#>Frequency output</option>
            <option value="8" helpurl="$timerModeUrls[8]" #if $currentConfig["timer%sMode" % $i] == 8 then 'selected="yes"' else ''#>Quadrature input</option>
            <option value="9" helpurl="$timerModeUrls[9]" #if $currentConfig["timer%sMode" % $i] == 9 then 'selected="yes"' else ''#>Timer stop input (odd timers only)</option>
            <option value="10" helpurl="$timerModeUrls[10]" #if $currentConfig["timer%sMode" % $i] == 10 then 'selected="yes"' else ''#>System timer low read</option>
            <option value="11" helpurl="$timerModeUrls[10]" #if $currentConfig["timer%sMode" % $i] == 11 then 'selected="yes"' else ''#>System timer high read</option>
            <option value="12" helpurl="$timerModeUrls[12]" #if $currentConfig["timer%sMode" % $i] == 12 then 'selected="yes"' else ''#>Period input (16-bit, rising edges)</option>
            <option value="13" helpurl="$timerModeUrls[13]" #if $currentConfig["timer%sMode" % $i] == 13 then 'selected="yes"' else ''#>Period input (16-bit, falling edges)</option>
        </select>
      </label>
    </div>
    
    <div class="timer-config-inputs timer-config-inputs-hideable">
      <label class="timer-value-label">Value: 
        <input type="text" class="timer-value" name="timer${i}Value" value="$currentConfig["timer%sValue" % $i]" #if not $currentConfig["timer%sEnabled" % $i] then 'disabled="disabled"' else ''#></input>
      </label>
    </div>

  </div>
#end for

  <h5>Global settings</h5>
    <div>

      <div class="timer-config-inputs">
        <label>Timer Clock Base:
          <select name="timerClockBase">
      #if $devType == 3 or $devType == 6
              <option #if $currentConfig.timerClockBase == 0 then 'selected="yes"' else ''# value="0">4 MHz</option>
              <option #if $currentConfig.timerClockBase == 1 then 'selected="yes"' else ''# value="1">12 MHz</option>
              <option #if $currentConfig.timerClockBase == 2 then 'selected="yes"' else ''# value="2">48 MHz</option>
              <option #if $currentConfig.timerClockBase == 3 then 'selected="yes"' else ''# value="3">1 MHz /Divisor</option>
              <option #if $currentConfig.timerClockBase == 4 then 'selected="yes"' else ''# value="4">4 MHz /Divisor</option>
              <option #if $currentConfig.timerClockBase == 5 then 'selected="yes"' else ''# value="5">12 MHz /Divisor</option>
              <option #if $currentConfig.timerClockBase == 6 then 'selected="yes"' else ''# value="6">48 MHz /Divisor</option>
      #elif $devType == 9
              <option #if $currentConfig.timerClockBase == 0 then 'selected="yes"' else ''# value="0">750 kHz</option>
              <option #if $currentConfig.timerClockBase == 1 then 'selected="yes"' else ''# value="1">48 MHz</option>
      #end if
          </select>
        </label>
      </div>
      
      <div class="timer-config-inputs timer-config-inputs-hideable">
        <label>Timer Clock Divisor:
          <input name="timerClockDivisor" type="text" value="$currentConfig.timerClockDivisor"></input>
        </label>
      </div>
      
    #if $devType == 6
    <div class="more-info">See <a href="http://labjack.com/support/u6/users-guide/2.9" target="_blank">Section 2.9</a> of the U6 User's Guide for more info on Timer Clock settings.</div>
    #elif $devType == 3
    <div class="more-info">See <a href="http://labjack.com/support/u3/users-guide/2.9" target="_blank">Section 2.9</a> of the U3 User's Guide for more info on Timer Clock settings.</div>
    #else
    <div class="more-info">See <a href="http://labjack.com/support/ue9/users-guide/2.10" target="_blank">Section 2.10</a> of the UE9 User's Guide for more info on Timer Clock settings.</div>
    #end if
    
  </div>

      </fieldset>
    </form>
  </div>
  <div id="tc-connection-dialog-tabs-counters">
    <form>
      <fieldset>
        <div class="counter-wrapper">
          <label><input type="checkbox" name="counter0Enable" value="1" #if $currentConfig.counter0Enabled then 'checked="yes"' else ''# ></input><span class="enable-counter-text">Enable Counter0</span></label>
        </div>
        <div>
          <label><input type="checkbox" name="counter1Enable" value="1" #if $currentConfig.counter1Enabled then 'checked="yes"' else ''#></input><span class="enable-counter-text">Enable Counter1</span></label>
        </div>
      </fieldset>
    </form>
    #if $devType == 6
    <div class="more-info">See <a href="http://labjack.com/support/u6/users-guide/2.9" target="_blank">Section 2.9</a> of the U6 User's Guide for more info on Counters.</div>
    #elif $devType == 3
    <div class="more-info">See <a href="http://labjack.com/support/u3/users-guide/2.9" target="_blank">Section 2.9</a> of the U3 User's Guide for more info on Counters.</div>
    #else
    <div class="more-info">See <a href="http://labjack.com/support/ue9/users-guide/2.10" target="_blank">Section 2.10</a> of the UE9 User's Guide for more info on Counters.</div>
    #end if
  </div>
  <div id="tc-connection-dialog-tabs-location">
    <form>
      <fieldset>
#if $devType != 9
        <span>Start timers and counters on:</span>
        <select name="pinOffset">
        #for k, v in $offsetChoices
          <option #if $currentConfig.offset == $k then 'selected="yes"' else ''# value="$k">$v</option>
        #end for
        </select>
#else 
       <span>Start timers and counters on: $offsetChoices[0][1]</span>
#end if    
      </fieldset>
    </form>
    <div id="tc-connection-dialog-pin-location-summary" class="ui-state-highlight">
    </div>
  </div>
</div>




