      <div id="device-summary-list">Scanning
      </div>
    

      <div id="tabs" class="pop">
        <ul>
          <li><a href="#test-panel-tab">Test Panel</a></li>
          <li><a href="#more-info-pane">Info</a></li>
          <li><a href="#clouddot-tab">CloudDot</a></li>
          <li><a href="#support-tab">Support</a></li>
        </ul>
        <div id="test-panel-tab">
            <table id="test-panel-table"></table>
            <div><a id="save-config-link" href="#">Save current config</a></div>
        </div>
        <div id="more-info-pane" class="" ></div>
        <div id="clouddot-tab"></div>
        <div id="support-tab"></div>
      </div>