<form id="edit-form">
  <p><input type="text" id="edit-value" size="30" /></p>
  <div class="more-info">Local ID can be used to identify a specific LabJack. Its value must be between 0 and 255, and it is stored in flash.</div>
</form>