<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>$title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960_24_col.css" />

    <link type="text/css" href="/css/darkblitz/jquery-ui-1.8.1.custom.css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />
    <link type="text/css" href="/css/cherryred.css" rel="Stylesheet" />

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/js/jquery.jqote.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/js/cherryred.js"></script>

</head>

<body class="$currentPage">

<script type="text/html" id="u3-hv-analog-connection-dialog">
<![CDATA[
  <div id="u3-connection-dialog-tabs">
    <ul>
      <li><a href="#u3-connection-dialog-tabs-analog">Analog</a></li>
    </ul>
    <div id="u3-connection-dialog-tabs-analog">
      <form class="u3-analog-form">
        <fieldset>
          <div>
              <label>
                  <input type="radio" name="analog" value="single-regular" />Single-ended, range &plusmn;10V
              </label>
          </div>
          <div>
              <label>
                <input type="radio" name="analog" value="single-special" />Single-ended, range -10V to 20V
              </label>
          </div>
          <div>
            <label>
            <input type="radio" name="analog" value="differential" />Differential with negative channel 
            </label>
                <select name="neg-channel">
                    <option value="0">AIN0</option>
                    <option value="1">AIN1</option>
                    <option value="2">AIN2</option>
                    <option value="3">AIN3</option>
                    <option value="4">AIN4</option>
                    <option value="5">AIN5</option>
                    <option value="6">AIN6</option>
                    <option value="7">AIN7</option>
                    <option value="8">AIN8</option>
                    <option value="9">AIN9</option>
                    <option value="10">AIN10</option>
                    <option value="11">AIN11</option>
                    <option value="12">AIN12</option>
                    <option value="13">AIN13</option>
                    <option value="14">AIN14</option>
                    <option value="15">AIN15</option>
                </select>
          </div>
        </fieldset>
      </form>
    </div>
]]>
</script>


<script type="text/html" id="u3-connection-dialog">
<![CDATA[
  <div id="u3-connection-dialog-tabs">
    <ul>
      <li><a href="#u3-connection-dialog-tabs-analog">Analog</a></li>
      <li><a href="#u3-connection-dialog-tabs-digital">Digital</a></li>
    </ul>
    <div id="u3-connection-dialog-tabs-analog">
      <form class="u3-analog-form">
        <fieldset>
          <div>
              <label>
                  <input type="radio" name="analog" value="single-regular" />Single-ended, range 0 to 2.44V
              </label>
          </div>
          <div>
              <label>
                <input type="radio" name="analog" value="single-special" />Single-ended, range 0 to 3.6V
              </label>
          </div>
          <div>
            <label>
            <input type="radio" name="analog" value="differential" />Differential with negative channel 
            </label>
                <select name="neg-channel">
                    <option value="0">AIN0</option>
                    <option value="1">AIN1</option>
                    <option value="2">AIN2</option>
                    <option value="3">AIN3</option>
                    <option value="4">AIN4</option>
                    <option value="5">AIN5</option>
                    <option value="6">AIN6</option>
                    <option value="7">AIN7</option>
                    <option value="8">AIN8</option>
                    <option value="9">AIN9</option>
                    <option value="10">AIN10</option>
                    <option value="11">AIN11</option>
                    <option value="12">AIN12</option>
                    <option value="13">AIN13</option>
                    <option value="14">AIN14</option>
                    <option value="15">AIN15</option>
                </select>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="u3-connection-dialog-tabs-digital">
      <form>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-input"/>Digital Input
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-low"/>Digital Output Low
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-high"/>Digital Output High
            </label>
        </div>
      </form>
    </div>
]]>
</script>



<div id="dialog" style="display:none"></div>


<div id="header" class="container_24">

  <div id="log-bar" class="grid_24">
  </div>
  <div class="clear"></div>
  <div id="scan-bar" class="grid_24">
  </div>
  <div class="clear"></div>
  </div>
  
  <div id="content" class="container_24">
    <div id="" class="grid_5">
      <div id="list-pane" class="">
        <h2 id="devices"><a href="/">Devices</a></h2>
        <ul id="device-name-list">
            <li id="scanning-device-name-list">Scanning</li>
        </ul>
        <h2 id="logs" class="$getVar('logActive', '')"><a href="/logs">Logs</a></h2>
      </div>
    </div>
  
    <div class="grid_19">  
        $mainContent
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer" class="container_24">
    <div id="" class="grid_24 "></div>
    <div class="clear"></div>
  </div>
</div> <!-- container -->

            
</body>
</html>
