<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>$title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960_24_col.css" />

    <link type="text/css" href="/css/darkblitz/jquery-ui-1.8.1.custom.css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />
    <link type="text/css" href="/css/cherryred.css" rel="Stylesheet" />

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/js/jquery.jqote.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/js/cherryred.js"></script>

</head>

<body class="$currentPage">


<div id="dialog" style="display:none"></div>

  <div id="header" class="container_24">
  
    <div id="latest-message-bar" class="grid_24"></div>
    <div class="clear"></div>
    <div id="log-bar" class="grid_24"></div>
    <div class="clear"></div>
    <div id="scan-bar" class="grid_24"> </div>
    <div class="clear"></div>
  </div>
  
  <div id="content" class="container_24">
    <div id="" class="grid_5">
      <div id="list-pane" class="">
        <h2 id="devices"><a href="/">Devices</a></h2>
        <ul id="device-name-list">
            <li id="scanning-device-name-list">Scanning</li>
        </ul>
        <ul id="bridge-name-list">
            <li id="scanning-device-name-list">Scanning for Skymote Bridges</li>
        </ul>
        <h2 id="logs" class="$getVar('logActive', '')"><a href="/logs">Logs</a></h2>
      </div>
    </div>
  
    <div class="grid_19">  
        $mainContent
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer" class="container_24">
    <div id="" class="grid_24 "></div>
    <div class="clear"></div>
  </div>

            
</body>
</html>
