<p>
$message
</p>
<ul>
    #for $logfile in $logfiles
        <li><span><a href="$logfile.url">$logfile.name</a> --- $logfile.size KB --- </span><span><a href="$logfile.uploadurl">Upload to Google Docs</a> --- <a href="$logfile.removeurl">Delete Forever</a></span></li>
    #end for
</ul>