#if $includeWrapper
<div id="log-wrapper" class="">
#end if
    #if $message
    <p>
    $message
    </p>
    #end if
    <ul id="log-file-list">
        #for $logfile in $logfiles
            <li><a href="$logfile.url" class="log-file-name">$logfile.name</a><span class="log-size">$logfile.size</span>
          #if $logfile.uploadEnable
            <a href="$logfile.uploadurl" class="upload-log">Upload to Google Docs</a> 
          #else
            <span class="too-big-log">Too big for Google Docs</span>
          #end if
          #if $logfile.active
            <a href="#" stopurl="$logfile.stopurl" class="stop-log stop-link">Stop logging</a>
          #else
            <a href="$logfile.removeurl" class="delete-log">Delete forever</a>
          #end if
          </li>
        #end for
    </ul>
#if $includeWrapper
</div>
#end if
