#filter WebSafe
<p>
$message
</p>
#end filter
<ul>
    #for $logfile in $logfiles
        <li><span><a href="$logfile.url">$logfile.name</a> --- $logfile.size KB --- </span><span><a href="$logfile.uploadurl">Upload to Google Docs</a> --- 
      #if $logfile.active
        <a href="$logfile.stopurl">Stop Logging</a>
      #else
        <a href="$logfile.removeurl">Delete Forever</a>
      #end if
      </span></li>
    #end for
</ul>