  <div id="u3-connection-dialog-tabs">
    <ul>
      <li><a href="#u3-connection-dialog-tabs-analog">Analog</a></li>
    </ul>
    <div id="u3-connection-dialog-tabs-analog">
      <form class="u3-analog-form">
        <fieldset>
          <div>
              <label>
                  <input type="radio" name="analog" value="single-regular" />Single-ended, range &plusmn;10V
              </label>
          </div>
          <div>
              <label>
                <input type="radio" name="analog" value="single-special" />Single-ended, range -10V to 20V
              </label>
          </div>
          <div>
            <label>
            <input type="radio" name="analog" value="differential" />Differential with negative channel 
            </label>
                <select name="neg-channel">
                    <option value="4">AIN4</option>
                    <option value="5">AIN5</option>
                    <option value="6">AIN6</option>
                    <option value="7">AIN7</option>
                    <option value="8">AIN8</option>
                    <option value="9">AIN9</option>
                    <option value="10">AIN10</option>
                    <option value="11">AIN11</option>
                    <option value="12">AIN12</option>
                    <option value="13">AIN13</option>
                    <option value="14">AIN14</option>
                    <option value="15">AIN15</option>
                </select>
          </div>
        </fieldset>
      </form>
    </div>
