  <div id="connection-dialog-tabs">
    <ul>
      <li><a href="#ue9-connection-dialog-tabs-digital">Digital</a></li>
    </ul>
    <div id="ue9-connection-dialog-tabs-digital">
      <form>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-input"/>Digital Input
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-low"/>Digital Output Low
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-high"/>Digital Output High
            </label>
        </div>
      </form>
      <div class="more-info">See <a href="http://labjack.com/support/ue9/users-guide/2.9" target="_blank">Section 2.9</a> of the UE9 User's Guide for more info on Digital I/Os.</div>
    </div>
