  <div id="ue9-connection-dialog-tabs">
    <ul>
      <li><a href="#ue9-connection-dialog-tabs-digital">Digital</a></li>
    </ul>
    <div id="ue9-connection-dialog-tabs-digital">
      <form>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-input"/>Digital Input
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-low"/>Digital Output Low
            </label>
        </div>
        <div>
            <label>
            <input type="radio" name="digital" value="digital-output-high"/>Digital Output High
            </label>
        </div>
      </form>
    </div>
